/node_modules/*
/dist/app.controller.d.ts
/dist/app.controller.js
/dist/app.controller.js.map
/dist/app.module.d.ts
/dist/app.module.js
/dist/app.module.js.map
/dist/app.service.d.ts
/dist/app.service.js
/dist/app.service.js.map
/dist/email/email.controller.d.ts
/dist/email/email.controller.js
/dist/email/email.controller.js.map
/dist/email/email.module.d.ts
/dist/email/email.module.js
/dist/email/email.module.js.map
/dist/email/email.service.d.ts
/dist/email/email.service.js
/dist/email/email.service.js.map
/dist/email/dto/index.d.ts
/dist/email/dto/index.js
/dist/email/dto/index.js.map
/dist/main.d.ts
/dist/main.js
/dist/main.js.map
/dist/email/dto/process-email.dto.d.ts
/dist/email/dto/process-email.dto.js
/dist/email/dto/process-email.dto.js.map
/dist/email/dto/process-result.dto.d.ts
/dist/email/dto/process-result.dto.js
/dist/email/dto/process-result.dto.js.map
/dist/tsconfig.build.tsbuildinfo
